
body {
    font-family: cursive;
    text-align: center;
    background: lightblue;
    font-size: 16px;
}
p {
    font-size: 18px;
}
a {
    font-weight: bold;
    color: red;
    text-decoration: none;
    font-family: "Arial";
    font-size: 14px;
}
.bold {
    font-weight: bold;
}

