body {
    background-color: aliceblue;
    text-align: center;
    font-family: monospace;
    color: darkblue;
    font-size: 20px;

}
a {
    display: block;
    text-decoration: none;
    color: lightblue;
    font-size: 18px;
    padding: 5px;
}
a:hover {
    text-decoration: underline;
    color: rgb(80, 194, 235);
}

